<a href="https://colab.research.google.com/github/Gowri-Rk/Machine-Learning/blob/master/Colabs/Models/ML_LogisticRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score

from sklearn import preprocessing
from sklearn import utils

from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.model_selection import train_test_split

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)

Mounted at /content/gdrive

In [ ]:

df_exams = pd.read_csv('/content/gdrive/My Drive/MLSpring2020/datatribe-nutritionbasediseaseprediction/Datasets/Exam_Cleaned.csv', encoding='unicode_escape')

In [ ]:
df_exams.head()

   Unnamed: 0  Unnamed: 0.1   SEQN  ...  BMXBMI   BMDAVSAD  MGDEXSTS
0           0             0  73557  ...    26.7  20.600000       1.0
1           1             1  73558  ...    28.6  24.400000       1.0
2           2             2  73559  ...    28.9  25.600000       1.0
3           3             3  73560  ...    17.1  14.900000       1.0
4           4             4  73561  ...    19.7  21.114034       1.0

[5 rows x 19 columns]

In [ ]:
df_labs2 = pd.read_csv('/content/gdrive/My Drive/MLSpring2020/datatribe-nutritionbasediseaseprediction/Datasets/Reduced_labs_cleaned.csv', encoding='unicode_escape')

In [ ]:
df_labs2.head()

   Unnamed: 0   SEQN  URXUMA  URXUMS  ...  LBDBMNLC  URXVOL1  LBDB12  LBDB12SI
0           0  73557     4.3     4.3  ...       NaN     87.0   524.0     386.7
1           1  73558   153.0   153.0  ...       0.0     90.0   507.0     374.2
2           2  73559    11.9    11.9  ...       0.0     66.0   732.0     540.2
3           3  73560    16.0    16.0  ...       0.0     61.0     NaN       NaN
4           4  73561   255.0   255.0  ...       NaN      5.0   225.0     166.1

[5 rows x 154 columns]

**Refining the dataset**

In [ ]:
newX = pd.merge(df_labs2, df_exams, on='SEQN', how='inner')

In [ ]:
newX = newX[['BMXBMI', 'LBDINSI']]

In [ ]:
#REmoving outliers
low = .05
high = .99
quant_df = newX.quantile([low, high])
print(quant_df)

      BMXBMI   LBDINSI
0.05  15.300   18.7800
0.99  49.864  459.7776

In [ ]:
#removing outliers
newX = newX.apply(lambda x: x[(x>quant_df.loc[low,x.name]) & 
                                    (x < quant_df.loc[high,x.name])], axis=0)

In [ ]:
newX

      BMXBMI  LBDINSI
0       26.7      NaN
1       28.6      NaN
2       28.9    34.98
3       17.1      NaN
4       19.7    36.72
...      ...      ...
9808    24.5    22.56
9809    15.9      NaN
9810    34.0      NaN
9811    16.1      NaN
9812    19.3      NaN

[9234 rows x 2 columns]

In [ ]:
X1 = newX['BMXBMI']

In [ ]:
newX.isna().sum()

BMXBMI       58
LBDINSI    6328
dtype: int64

In [ ]:
newX['LBDINSI'] = newX['LBDINSI'].fillna(newX['LBDINSI'].mean())
newX['BMXBMI'] = newX['BMXBMI'].fillna(newX['BMXBMI'].mean())

In [ ]:
newX.isna().sum()

BMXBMI     0
LBDINSI    0
dtype: int64

In [ ]:
X1 = newX['BMXBMI']

In [ ]:
Y1 = newX['LBDINSI']

**Encoding feature to binary**

In [ ]:
enc = preprocessing.LabelEncoder()
encodedY1 = enc.fit_transform(Y1)

In [ ]:
Y1PD = pd.DataFrame(encodedY1)

**Performing Logistic Regression**

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X1, Y1PD, test_size=0.25, random_state=0)

In [ ]:
#reshape
X_train = X_train.values.reshape(-1,1)

In [ ]:
y_train = y_train.values.reshape(-1,1)

In [ ]:
X_test = X_test.values.reshape(-1,1)

In [ ]:
#Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
logreg = LogisticRegression(random_state=0, max_iter=1000)

In [ ]:
# Train the model using the training sets
logreg.fit(X_train, y_train.ravel())

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
y_pred=logreg.predict(X_test)

In [ ]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.6829796448679082